### 3.1.1. 리스트

In [2]:
squares = [1,4,9,16,25]
type(squares)

list

In [3]:
squares

[1, 4, 9, 16, 25]

In [4]:
squares[0]

1

In [5]:
squares[4]

25

In [6]:
squares[-1]

25

In [7]:
squares[2:]

[9, 16, 25]

In [8]:
squares[-3:]

[9, 16, 25]

In [9]:
squares[:]

[1, 4, 9, 16, 25]

In [10]:
squares + [36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
squares

[1, 4, 9, 16, 25]

In [12]:
squares = squares + [36,49,64,81,100]

In [13]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
cubes =[1,8,27,65,125]

In [20]:
cubes[-2] = 4 ** 3

In [21]:
cubes

[1, 8, 27, 64, 125]

In [22]:
cubes.append(216)

In [23]:
cubes.append(7**3)

In [24]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [31]:
letters =['a','b','c','d','e','f','g']

In [32]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [33]:
letters[0] = 'A'

In [34]:
letters

['A', 'b', 'c', 'd', 'e', 'f', 'g']

In [35]:
letters[1] = 1

In [36]:
letters

['A', 1, 'c', 'd', 'e', 'f', 'g']

In [37]:
letters[2] = 3.14

In [38]:
letters

['A', 1, 3.14, 'd', 'e', 'f', 'g']

In [39]:
letters[2:5]=['C','D','E']

In [40]:
letters

['A', 1, 'C', 'D', 'E', 'f', 'g']

In [41]:
letters[2:5]=[]

In [42]:
letters

['A', 1, 'f', 'g']

In [43]:
letters[:]=[]

In [44]:
letters

[]

### 중첩 리스트 ( 리스트의 원소가 리스트인 경우)

In [45]:
a = ['a', 'b', 'c']

In [46]:
n = [1, 2, 3]

In [47]:
x = [a, n]

In [48]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [49]:
x[0]

['a', 'b', 'c']

In [50]:
x[1]

[1, 2, 3]

In [51]:
x[0][1]

'b'

In [52]:
x[1][2]

3

### 피보나치 수열의 구현

In [57]:
a,b = 0,1
while a<10 :
    print(a)
    a,b = b,a+b

0
1
1
2
3
5
8

### 파이썬에서의 *연산자의 의미

In [58]:
256*256

65536

In [59]:
'hello'*5

'hellohellohellohellohello'

In [60]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
i = 256
print('The value of i is',i)

The value of i is 256

In [62]:
i = 256
print('The value of i is %d'%i)

The value of i is 256

In [66]:
a,b = 0,1
while a<10 :
    print(a, end='\t')
    a,b = b,a+b

0	1	1	2	3	5	8

### 사용자 입력 받기

In [67]:
temp = input("입력하세요:")

입력하세요:1234

In [68]:
type(temp)

str

In [69]:
temp = int(temp)

In [70]:
type(temp)

int

In [77]:
temp = int(input("숫자를 입력하세요:"))

숫자를 입력하세요:0

In [76]:
if temp<0 :
    print("음수를 입력 하셨습니다.")

음수를 입력 하셨습니다.

In [78]:
if temp<0 :
    print("음수를 입력 하셨습니다.")
elif temp>0 : 
    print("양수를 입력 하셨습니다.")
else :
    print("Zero 를 입력 하셨습니다.")

Zero 를 입력 하셨습니다.

### Python에서의 for 스타일

In [79]:
words =['cat','window','defenestrate']

In [80]:
for w in words:
    print(w,len(w))

cat 3
window 6
defenestrate 12

In [81]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [83]:
for i in range(0,10, 3):
    print(i)

0
3
6
9

In [84]:
for i in range(-10,-100,-30):
    print(i)

-10
-40
-70

In [85]:
a =['Mary','had','a','little','lamb']

for i in range(len(a)):
     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

### range() 과연 무엇인가?

In [86]:
print(range(5))

range(0, 5)

In [87]:
temp = range(5)

In [89]:
next(temp)

TypeError: 'range' object is not an iterator

In [90]:
sum(range(4))

6

In [91]:
a = list(range(4))

In [92]:
a

[0, 1, 2, 3]

### 중첩된 for loop 문

In [93]:
for i in range(2,10):
    print("%d단" % i)

2단
3단
4단
5단
6단
7단
8단
9단

In [94]:
for i in range(2,10):
    print("%d단" % i)
    for j in range(1,10):
        print("%d*%d=%d"%(i,j,i*j))

2단
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3단
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4단
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5단
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6단
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7단
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8단
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9단
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [96]:
for i in range(5):
    print(i)
    if i==3:
        break
i

0
1
2
3

3

In [97]:
for n in range(2,10):
    for x in range(2,n):
        if n % x ==0:
            print(n,'equals',x,'*',n//x)
            break
    else:
        print(n,'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [1]:
for i in range(5):
    pass