In [1]:
def foo( a, n ):
    temp = 1
    inc = 0
    step = 1
    for i in range(n):
        for j in range(inc*2+1):
            a[i][n//2-inc+j] = temp
            temp += 1

        if i == n//2 :
            step = -step 
        inc += step

In [4]:
def foo( a, n ):
    temp = 1
    inc = 0
    step = 1
    for i in range(n):
        for j in range(n - inc*2):
            a[inc+j][i] = temp
            temp += 1

        if i == n//2 :
            step = -step 
        inc += step

In [8]:
def foo( a, n ):
    temp = 1
    for i in range(n):
        for j in range(i+1):
            a[i-j][j] = temp
            temp += 1

In [15]:
def foo( a, n ):
    temp = 1
    for i in range(n*2-1):
        for j in range(n):
            for k in range(n):
                if i==j+k :
                    a[k][j] = temp
                    temp += 1

In [37]:
def foo( a, n ):
    row=0
    col=-1    
    count=n
    temp=1
    step = 1

    while True:
        for i in range(count):
            col += step
            a[row][col] = temp
            temp += 1

        count -= 1
        if count==0 :
            break;

        for i in range(count):
            row += step
            a[row][col] = temp
            temp += 1
            
        step = -step

In [56]:
def foo(a, n):
    row=0
    col=n//2
    temp=1
    a[row][col] = temp
    temp += 1
    for i in range(n*n-1):
        r = row
        c = col
        r -= 1
        if r < 0:
            r = n-1 
        c -= 1
        if c < 0:
            c = n-1 

        if a[r][c] > 0 :
            r = row+1
            c = col
        a[r][c] = temp
        temp += 1
        row = r
        col = c
    for i in range(n):
        for j in range(n):
            a[i][n] += a[i][j]
            a[n][i] += a[j][i]
            if i==j:
                a[n][n] += a[i][j]

In [57]:
def display( a, n ):
    for i in range(n):
        for j in range(n):
            if a[i][j]==0:
                print("%4c"%' ',end='')
            else:
                print("%4d"%a[i][j],end='')
        print()

In [59]:
n=9
a = [ [0]*(n+1) for i in range(n+1)]
foo(a, n)
display(a, n+1)

  45  34  23  12   1  80  69  58  47 369
  46  44  33  22  11   9  79  68  57 369
  56  54  43  32  21  10   8  78  67 369
  66  55  53  42  31  20  18   7  77 369
  76  65  63  52  41  30  19  17   6 369
   5  75  64  62  51  40  29  27  16 369
  15   4  74  72  61  50  39  28  26 369
  25  14   3  73  71  60  49  38  36 369
  35  24  13   2  81  70  59  48  37 369
 369 369 369 369 369 369 369 369 369 369

### 중첩된 리스트 컴프리 헨션

In [69]:
matrix = [
 [1,2,3,4],
 [5,6,7,8],
 [9,10,11,12],
]

In [70]:
[[row[i]for row in matrix]for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [71]:
transposed =[]

In [72]:
for i in range(4):
    transposed.append([row[i]for row in matrix])

In [73]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [76]:
transposed =[]
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row =[]
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

In [77]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [78]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

### list 노드 지우기

In [81]:
a = [-1,1,66.25,333,333,1234.5]

In [82]:
del a[0]

In [83]:
a

[1, 66.25, 333, 333, 1234.5]

In [84]:
a[0]

1

In [85]:
del a[2:4]

In [86]:
a

[1, 66.25, 1234.5]

In [87]:
del a[:]

In [88]:
a

[]

In [89]:
del a

In [90]:
a

NameError: name 'a' is not defined

### 튜플

In [91]:
t =12345,54321,'hello!'

In [92]:
t

(12345, 54321, 'hello!')

In [93]:
t =(12345,54321,'hello!')

In [94]:
t

(12345, 54321, 'hello!')

In [95]:
t[0]

12345

In [96]:
u =t,(1,2,3,4,5)

In [97]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [98]:
t[0]=88888

TypeError: 'tuple' object does not support item assignment

In [99]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [100]:
v =([1,2,3],[3,2,1])

In [101]:
v

([1, 2, 3], [3, 2, 1])

In [102]:
v[0] = [5,6,7]

TypeError: 'tuple' object does not support item assignment

In [103]:
v[0][0] = 10

In [104]:
v

([10, 2, 3], [3, 2, 1])

In [105]:
del v[0][1]

In [106]:
v

([10, 3], [3, 2, 1])

In [107]:
empty = ()

In [108]:
len(empty)

0

In [113]:
singleton ='hello',

In [114]:
type(singleton)

tuple

In [115]:
singleton

('hello',)

In [116]:
empty.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [117]:
t = 1,2,3

In [118]:
t

(1, 2, 3)

In [119]:
x,y,z = t

In [120]:
x

1

In [121]:
y

2

In [122]:
z

3

In [123]:
def foo():
    return 1,2

In [124]:
x, y = foo()

In [125]:
t = 1,2

In [ ]:
x,y = t

### 집합 자료구조

In [126]:
basket = {'apple','orange','apple','pear','orange','banana'}

In [127]:
type(basket)

set

In [128]:
print(basket)

{'apple', 'orange', 'pear', 'banana'}

In [129]:
'orange' in basket

True

In [130]:
'crabgrass' in basket

False

In [131]:
a = set('abracadabra')

In [132]:
a

{'a', 'b', 'c', 'd', 'r'}

In [133]:
b =set('alacazam')

In [134]:
b

{'a', 'c', 'l', 'm', 'z'}

In [135]:
a-b

{'b', 'd', 'r'}

In [136]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [137]:
a & b

{'a', 'c'}

In [138]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [139]:
a ={x for x in 'abracadabra' if x not in 'abc'}

In [140]:
a

{'d', 'r'}

### 딕셔너리 자료구조

In [141]:
tel ={'jack':4098,'sape':4139}

In [142]:
tel['jack']

4098

In [143]:
tel['sape']

4139

### hash의 구현

In [153]:
bucket=[[],[],[],[],[],[],[],[]]

GOLDEN_RATIO_PRIME_32=0x9e370001

def hash_fn(val, bits):
    hash = val * GOLDEN_RATIO_PRIME_32
    return (hash >> (32 - bits))&0x7

def insert_data(data):
    index = hash_fn(data, 3)
    bucket[index].append(data)

def display():
    for i in range(8):
        print("[%d]"%i,end='')
        for j in bucket[i]:
            print("->[%d]"%j, end='')
        print()

    
for i in range(30):
    insert_data(i+1)

display()

[0]->[5]->[13]->[18]->[26]
[1]->[2]->[10]->[23]
[2]->[7]->[15]->[20]->[28]
[3]->[4]->[12]->[25]
[4]->[1]->[9]->[17]->[22]->[30]
[5]->[6]->[14]->[19]->[27]
[6]->[3]->[11]->[24]
[7]->[8]->[16]->[21]->[29]

In [154]:
tel ={'jack':4098,'sape':4139}

In [155]:
tel

{'jack': 4098, 'sape': 4139}

In [156]:
tel['guido']=4127

In [157]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [158]:
tel['guido']

4127

In [159]:
tel['guido']=1234

In [160]:
tel['guido']

1234

In [161]:
tel ={'jack':4098,'sape':4139, 'sape':1234}

In [162]:
tel['sape']

1234

In [163]:
tel ={'jack':4098,'sape':4139, 'guido':4127}

In [164]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [165]:
del tel['sape']

In [166]:
tel

{'jack': 4098, 'guido': 4127}

In [167]:
tel['irv']=4127

In [168]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [169]:
a = list(tel)

In [170]:
a

['jack', 'guido', 'irv']

In [171]:
type(tel)

dict

In [172]:
dir(tel)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [173]:
sorted(tel)

['guido', 'irv', 'jack']

In [174]:
'guido'in tel

True

In [175]:
'jack'not in tel

False

In [176]:
dict([('sape',4139),('guido',4127),('jack',4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [178]:
a ={x:x**2 for x in (2,4,6)}

In [181]:
a[6]

36

In [182]:
dict(sape=4139,guido=4127,jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [183]:
knights ={'gallahad':'the pure','robin':'the brave'}

In [186]:
for k in knights:
    print(k, knights[k])

gallahad the pure
robin the brave

In [187]:
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [190]:
for v in ['tic','tac','toe']:
    print(v)

tic
tac
toe

In [191]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [194]:
questions =['name','quest','favorite color']

In [195]:
answers =['lancelot','the holy grail','blue']

In [196]:
for q,a in zip(questions,answers):
    print('What is your {0}? It is {1}.'.format(q,a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorite color? It is blue.

In [197]:
for i in reversed(range(1,10, 2)):
    print(i)

9
7
5
3
1

In [198]:
basket =['apple','orange','apple','pear','orange','banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [199]:
import math

In [200]:
raw_data =[56.2,float('NaN'),51.7,55.3,52.5,float('NaN'),47.8]

In [201]:
raw_data

[56.2, nan, 51.7, 55.3, 52.5, nan, 47.8]

In [202]:
filtered_data =[]
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [203]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [206]:
a=10
print(id(a))
b=20
print(id(b))

140715973556288
140715973556608

In [207]:
a = [1,2,3]
b = a
print(id(a))
print(id(b))

1977353164672
1977353164672

In [209]:
'hello' == 'hello'

False

In [211]:
'hello' < 'hellx'

True

In [213]:
'hello' > 'Hello'

True

In [216]:
'hello' < 'helloa'

True

In [220]:
string1,string2,string3 ='hello','Trondheim','Hammer Dance'

In [221]:
non_null = string1 or string2 or string3

In [222]:
non_null

'hello'

In [223]:
(1,2,3) < (1,2,4)

True

In [224]:
[1,2,3] < [1,2,4]

True